.one {
    background-color: blueviolet;
}

.two {
    background-color: aqua;
}

.three {
    background-color: aquamarine;
}

.four {
    background-color: brown;
}

.five {
    background-color: chartreuse;
}

.six {
    background-color: darkcyan;
}

.seven {
    background-color: darkkhaki;
}