div {
    width: 600px;
    height: 600px;
    border: 1px solid red;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuTmwd8MSFoTXKFYh1pdhn0JZg7O34_j_B1OhfVaid&s);
    background-repeat: no-repeat;
    /* background-position: center; */
    /* backgroung-size: contain; */
    /* background-origin: content-box; */
    /* background-origin: padding-box; */
    /* background-origin: border-box; */
    /* padding: 40px; */
    /* color: white; */
    /* background-color: aqua; */
}