body {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/TreesInTheFog.jpg/1200px-TreesInTheFog.jpg);
    background-repeat: no-repeat;
    background-position: top center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.header {
    color: aqua;
    text-align: center;
}

.box-1 {
    background-color: burlywood;
    height: 250px;
    width: auto;
    text-align: center;
    margin: 20px 20px 20px 20px;
}

.box-2 {
    background-color: salmon;
    height: 250px;
    width: auto;
    text-align: center;
    margin: 20px 20px 20px 20px;
}

.box-3 {
    background-color: wheat;
    height: 250px;
    width: auto;
    text-align: center;
    margin: 20px 20px 20px 20px;
}

.box-4 {
    background-color: lightgoldenrodyellow;
    height: 250px;
    width: auto;
    text-align: center;
    margin: 20px 20px 20px 20px;
}