html {
    border: 2px solid blue;
}

body {
    width: 900px;
    border: 2px solid sandybrown;
    /* position: relative; */
}

div {
    border: 2px solid red;
    color: aqua;
}

#one {
    /* comment out position: relative */
    /* absolute is positioned off */
    position: relative;
    /* formatting */
    width: 600px;
    height: 400px;
    background-color: green;
}

#two {
    position: absolute;
    top: 120px;
    right: 20px;
    /* formatting */
    width: 300px;
    height: 200px;
    background-color: blueviolet;
}